{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block page_actions %}
  <ul class="nav navbar-right panel_toolbox">
    <li>
      <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
    </li>
    <li>
      <a href="{% url 'flashdeal:flashdeal_create' %}"><i style="color: #0fc106" class="fa fa-plus-circle"></i></a>
    </li>
  </ul>
{% endblock %}
{% block main_content %}
  {% if error %}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
      </button>
      <strong>Error: </strong> {{ error }}
    </div>
  {% endif %}

  {% if message %}
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
      </button>
      <strong>{{ message }}</strong>
    </div>
  {% endif %}

  <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
      <thead>
      <tr class="headings">
        <th>
          <input type="checkbox" id="check-all" class="flat">
        </th>
        <th class="column-title">Flashdeal id </th>
        <th class="column-title">Catalog</th>
        <th class="column-title">Start time</th>
        <th class="column-title">End time</th>
        <th class="column-title">Created date</th>
        <th class="column-title">Action</th>
      </tr>
      </thead>
      <tbody>
      {% for flashdeal in object_list %}
        <tr class=" pointer">
          <td class="a-center ">
            <input type="checkbox" class="flat" name="table_records">
          </td>
          <td class=" ">{{ flashdeal.id }}</td>
          <td class=" ">{{ flashdeal.catalog.name|title }}</td>
          <td class=" ">{{ flashdeal.start_time|naturaltime|default:'--' }}</td>
          <td class=" ">{{ flashdeal.end_time|naturaltime|default:'--' }}</td>
          <td class="a-right a-right ">{{ flashdeal.created_at }}</td>
          <td class="a-right a-right ">
            --
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

